<h2 class="text-center">Vacancies List</h2>
<hr>
<div class="row shadow p-3 mb-5 bg-body rounded">
    <div class="col-12 col-md-3">
        <h3>{{title}}</h3>
        <p>React Developer</p>
    </div>
    <div class="col-12 col-md-3">
        <h4>Facebook</h4>
        <p>React Developer</p>
    </div>
    <div class="col-12 col-md-3">
        <h4>Facebook</h4>
        <p>React Developer</p>
    </div>
    <div class="col-12 col-md-3">
        <a href="/" class="btn btn-outline-dark">More Info</a>
    </div>
</div>